.moviePosterImg {
  max-width: 75%;
  max-height: 70%;
  margin: 0 auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.newMovieWrapper {
  padding: 1em;
}

.newMovieSearch, .unwatchedMovies, .watchedMovies {
  border: 2px solid black;
  /*width: 25%;*/
  height: 30em;
  margin-right: .5em;
}


.newMovieSearchTitle {
  padding-left: 2.5em;
}
